.app header {
	margin-top: 20px;
	text-align: center;
}

.title {
	float: left;
}

.cameraButton {
	width: 50px;
	margin: 5px auto 0 10px;
	border: none;
	background: none;
	float: left;
}

.clearfix {
	clear: both;
}